body{
    font-family: 'Nunito', sans-serif;
    background-color: lightgray;
}
.encabezado{
    background-color: #fff;
    margin-left: 1px;
    margin-right: 1px;
}
.encabezado div img{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.texto{
    margin-top: 20px;
    text-align: justify;
}

.fondopie{
    background-color: rgba(0, 0, 0, 0.2);
}