body{
    font-family: 'Quicksand', sans-serif;
    background: url(../img/fondo.jpg);
}

.encabezado{
    background-color: lightgray;
    margin-left: 1px;
    margin-right: 1px;
}
.encabezado div{
    text-align: center;
}
.encabezado div img{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid #7B8A8B 1px;
}
.fondopie{
    background-color: rgba(0, 0, 0, 0.2);
}